In [1]:
import pandas as pd

In [4]:
vine_df = pd.read_csv("./Data/vine_table.csv")

vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y
...,...,...,...,...,...,...
4366911,R2C0JM229QZS0R,4,1,6,N,N
4366912,R3CBWUG8E05BFU,1,5,5,N,N
4366913,RN7TB51V24XHT,4,7,7,N,N
4366914,R22CRGBKA02SPB,5,3,3,N,N
4366915,R1NR3UYEZ0M8KQ,1,12,13,N,N

In [5]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4366916 entries, 0 to 4366915
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        int64
 2   helpful_votes      int64
 3   total_votes        int64
 4   vine               object
 5   verified_purchase  object
dtypes: int64(3), object(3)
memory usage: 199.9+ MB

In [6]:
vine_df_20 = vine_df.loc[vine_df["total_votes"] >= 20]
vine_df_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
...,...,...,...,...,...,...
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366804,R8FUPKU9V9O8C,5,3,28,N,N
4366844,R3QRYRJWX0N6H3,4,29,33,N,N
4366886,R20WGBU79NREU,5,14,20,N,N
4366893,R2JC45DHFX613N,5,6,24,N,N

In [7]:
vine_df_50 = vine_df_20.loc[(vine_df_20["helpful_votes"] / vine_df_20["total_votes"]) >= 0.50]
vine_df_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
...,...,...,...,...,...,...
4366751,R1FALBZOUYCZTD,5,29,31,N,N
4366765,R7M3UQX8B04NM,5,20,21,N,N
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366844,R3QRYRJWX0N6H3,4,29,33,N,N
4366886,R20WGBU79NREU,5,14,20,N,N

In [17]:
paid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'Y']
paid_reviews_df.count()

review_id            22
star_rating          22
helpful_votes        22
total_votes          22
vine                 22
verified_purchase    22
dtype: int64

In [10]:
unpaid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'N']
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
...,...,...,...,...,...,...
4366751,R1FALBZOUYCZTD,5,29,31,N,N
4366765,R7M3UQX8B04NM,5,20,21,N,N
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366844,R3QRYRJWX0N6H3,4,29,33,N,N
4366886,R20WGBU79NREU,5,14,20,N,N

In [11]:
paid_5star_reviews = paid_reviews_df.loc[paid_reviews_df["star_rating"] == 5]["star_rating"].count()
paid_5star_reviews

13

In [12]:
paid_reviews = paid_reviews_df["star_rating"].count()
paid_reviews

22

In [13]:
percentage_5star_reviews_paid = round((paid_5star_reviews / paid_reviews) * 100, 2)
percentage_5star_reviews_paid

59.09

In [14]:
unpaid_5star_reviews = unpaid_reviews_df.loc[unpaid_reviews_df["star_rating"] == 5]["star_rating"].count()
unpaid_5star_reviews

14475

In [15]:
unpaid_reviews = unpaid_reviews_df["star_rating"].count()
unpaid_reviews

26987

In [16]:
percentage_5star_reviews_unpaid = round((unpaid_5star_reviews / unpaid_reviews) * 100, 2)
percentage_5star_reviews_unpaid

53.64